<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/is-by.css?v=5">
  <script src="/js/is-by_user.js?v=3" type="text/javascript"></script>
  <title>:[[ :is-by: pro: anti-social: social-media: ]]:</title>
  <meta name="description"
    content="GitHub-driven social media for the GitHub enthusiasts, rebels, misfits and outcasts.">
</head>

<body>
  <div id="main-section">
    <div id="media-section">
      <img src="/images/Death_Angel-555x222.png" alt=":Death_Angel-400x222.png:" width="400" height="222">
      <div class="for-the">
        <p><em>:[[ :for-the: [[ QWOD-MJ12: ATSOSSDEV-A: HyperSpire-Foundation: is-with: GitHub-driven: social-media:
            for-the: GitHub-enthusiasts: rebels: misfits: outcasts: ]]: ]]:</em></p>
      </div>
      <div class="is-by">
        <h1 class="warno">:[[ :is-by: pro: for-the: [[ anti-social: social-media: for-the: [[ PEOPLE: is-by: WE:
          people:
          ]]: ]]: ]]:</h1>
      </div>
      <div class="is-with">
        :[[ :is-with: <a href="https://github.com/hyperspire">HyperSpire-Foundation</a>: ]]:
      </div>
      <div id="footer-section">
        <p class="copyright">:[[ :for-the: [[ is-by: pro: is-by: @: {{ copyright }}: is-with: <a target="_blank"
            rel="noopener" href="http://hyperspire.com/">http://hyperspire.com/</a>:
          for-the: [[ Death-Angel: is-by: @: is-with: <a target="_blank" rel="noopener"
            href="https://www.youtube.com/@WhiteBatAudio">Karl-Casey</a>: [[ :for-the: <a target="_blank" rel="noopener"
            href="https://is-by.pro/tos.html">Terms-of-Service</a>: :[[ :for-the: <a target="_blank" rel="noopener"
            href="https://is-by.pro/privacy.html">Privacy-Policy</a>: ]]: ]]: ]]: ]]:</p>
      </div>
    </div>
    <div id="actions-section">
      <div class="login-section">
        <p><a href="/v1/auth/github">Login with GitHub</a></p>
      </div>

    </div>
</body>

</html>